%%
%% This file is managed by a config system
%% Your changes will be overwritten
%%


[
 %% Riak Core
 {riak_core, [{handoff_port, <%= node['mds']['handoff_port'] %> },
	      {cluster_name, "<%= node['mds']['cluster'] %>"}]},
 %% Distributor config
 {distributor, []},
 {auth, [{user_db, <<"<%= node['mds']['user_system'] %>">>},
	 {supported_systems, [
			     ]}
	]},
 %% Streaming config
 {streamer, [{streamer_backends, [{streamer_websocket_sup, []}]},
	     {streamer_api, [streamer_authorization_api]},
	     {supported_systems, [{<<"statistics">>, [streamer_tip_api]},
				  {<<"market_feed">>, [streamer_itch_api]}]},
	     {tip_http, <<"<%= node['mds']['tip_http'] %>">>}
	    ]},
 %% Lager config
 {lager, [
	  {handlers, [
		      {lager_file_backend, [{"<%= node['mds']['log_folder'] %>/error.log", error},
					    {"<%= node['mds']['log_folder'] %>/console.log", info},
					    {"<%= node['mds']['log_folder'] %>/debug.log", debug}
					   ]}
		     ]}
	 ]},
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "<%= node['mds']['log_folder'] %>/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "<%= node['mds']['log_folder'] %>/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].
