
## Node name
-name market_data_streamer@<%= node['ipaddress'] %>

## OMNOMNOM!
-setcookie <%= node['mds']['cookie']

## Enable kernel poll + async threads
+K true
+A 5

## Up the number of concurrent ports and sockets
-env ERL_MAX_PORTS 4096

## Make GC run more often
-env ERL_FULLSWEEP_AFTER 10